
/* general ---------------------------------------------------*/

html,body{
    margin: 0;
    padding: 0;
    font-family: gfs didot, serif ;
    background-color: #E3DBD0;
}

a{
    text-decoration: none;
    color: inherit;
}



/* --------------------------------------------------------------------*/



/* header & footer ---------------------------------------------------*/
.categories{
    display: flex;
    justify-content: right;
    list-style: none;
    background-color: #342925;
    padding: 40px;
   gap: 30px;
    
}



.categories a {
    position: relative;
    color: white;
    letter-spacing: 5px;
    text-decoration: none; 
}



.categories a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px;    
    width: 100%;
    background-color: rgb(255, 245, 245); 
    
}

.categories a:hover::after {
    transition: 0.3s ease background-color, 0.3s ease;
    height: 2px;  
    background-color: #453319;         
     
}





footer{
    display: flex;
    justify-content: left;
    list-style: none;
    background-color: #361313;
    padding: 40px;

}
.footer{
     padding: 40px;
   gap: 30px;
}

.footer a{
     text-decoration: underline;
    color: #B46E09;
    letter-spacing: 5px;
    text-underline-offset: 5px;
    
}
/* --------------------------------------------------------------------*/





/* index ---------------------------------------------------*/


.front-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
   display: block;
  position: relative;
}

.main-text {
 
  position: absolute;
  top: 45%;
  left: 17%;
  color: white;
  text-align: center;
  width: 70%;
}

.main-h1 {
  font-size: 10vh;
  margin: 0;
  color: #846130;
  text-shadow: 2px 2px 5px #453319;
  
}

.main-p {
    color: #AC7C39;
    text-shadow: 2px 2px 5px #64481f;
 
}

.main-button{
position: absolute;
  top: 80%;
  left: 44.2%;
  width: 200px;
  color: #AF731F;
  background-color: #463833;
  padding: 25px;
  text-align: center;
}

.main-button a{
     color: #AC7C39;
    text-shadow: 2px 2px 5px #64481f;
    text-decoration: none;
    
}

.main-button:hover{
    transition: 0.3s ease;
    background-color: #312824;
}






/* --------------------------------------------------------------------*/







/* productlist ---------------------------------------------------*/



.productlist-body{
    background-color: #E3DBD0;
}



.img-productlist {
  position: relative;       
  display: flex;
  justify-content: center;  
  align-items: center;     
  width: 100%;
   padding-top: 20%; 
   padding-bottom: 20%;        
  
}

.img-productlist img {
  width: 100%;
  display: block;
}

.flexbox-productlist{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    flex-direction: row;
    color: #FFFEFD;
    top: 110%;
    left: 3%;
    
}

.flexbox-productlist p{
    color: #BEB5A8;
    font-size: 2.5vh;


}

.flexbox-productlist h2{
    
    font-size: 2.7vh;
    color: #FFFEFD;
    
}

.flexbox-productlist h2,p{
    margin: 0;
    padding: 4px;
}

.box1 {
  background-color: #361313;
  padding: 50px;
  width: 380px;
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  box-sizing: border-box;  
}

.box1:hover{
    transition: 0.3s ease;
    background-color: #220c0c;
}

.box2 {
  background-color: #a1640e;
  padding: 50px;
  width: 380px;
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  box-sizing: border-box;  
}

.box2:hover{
    transition: 0.3s ease;
    background-color: #7a4c0a;
}



.flexbox-productlist h2{
    text-align: center;
    

}


.productlist-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  position: relative;
  top: -120px;
  color: #B46E09;
}



/* --------------------------------------------------------------------*/



/* beauty ---------------------------------------------------*/


.beauty-h1{
  letter-spacing: 6%;
  color: #463833;
  padding-left: 4%;
  padding-top: 5%;

}


.beauty-flex{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   width: 90%;
   gap: 50px;
   margin: 0 auto; 
  justify-items: center;
  padding-top: 2%;
  letter-spacing: 6%;
  padding-bottom: 10%;
 
    
}
.beauty-flex img{
    width: 100%;
     height: auto;
    display: block;
    
}

.beauty-border{
   border: #64481f solid 2px;
   background-color: white;
   padding-bottom: 50px;
}

.hr-beauty {
  width: 60%;
  margin-top: 2%;
  margin-left: 4%;
  background-color: #521D1E;
  display: inline-block; 
  height: 2px; 
  border: none;
}

.beauty-more{
    text-align: center;
    padding: 10px;
    font-size: 2.5vh;
    color: #000000;
   border:#000000 1.3px solid;
    width: 190px;
    margin: 0 auto;
    letter-spacing: 6%;
    margin-top: 5%;
}

.beauty-all{
  text-align: center;
    margin-top: 3.5%;
    margin-left: 4%;
    padding: 10px;
    width: 130px;
    background-color: #521D1E;
    letter-spacing: 6%;
    }

    .beauty-all a{
      font-size: 2.2vh;
    color: #ffffff;
    }

.low-high {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 5%;
  color: #B46E09;
}

.low-group {
  display: flex;           
  gap: 10px;               
  align-items: center;
  border-bottom: #B46E09 solid 1px;
  text-align: center;
}








